img {
  width: 100%;
  height: auto;
}

* {
  line-height: 1.7;
}

.firstview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: url(../img/firstview.jpg) no-repeat;
  color: #fff;
  margin-bottom: 70px;
}

.firstview__catchcopy {
  font-size: 40px;
  font-weight: bold;
}

.about {
  margin-bottom: 70px;
}

.section__ttl {
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.about p {
  text-align: center;
  line-height: 1.8;
}

.blog{
  max-width: 1000px;
  margin: 70px auto 70px;
}

.blog__parent {
  display: flex;
  justify-content: space-between;
}

.blog__child {
  width: 30%;
}

.blog__child img {
  margin-bottom: 20px;
}

.form__table {
  max-width: 780px;
  margin: 0 auto 70px;
  width: 100%;
}

.form__table tr {
  margin-bottom: 20px;
}
.form__table th {
  text-align: left;
  padding: 0;
}

.form__table input{
  width: 100%;
  margin: 10px 0;
}

.form__table select {
  margin: 10px 0;
}

.form__table textarea {
  width: 100%;
}

.form__btn {
  text-align: center;
}

.form__table .form__btn-item {
  width: 200px;
  padding: 10px 0;
  border: 0;
  background: #55bbbb;
  color: #fff;
}

.form__table .form__btn-item--reset {
  background-color: #ddd;
  color: #000;
  margin-right: 20px;
}