.mv {
  position: relative;
  background: url(../img/firstview.jpg) no-repeat center/cover;
  height: 50vw;
  width: 100vw;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  color: #fff;
}

.about_content{
  text-align: center;
  margin: 10%%;
}

h2{
  text-align: center;
    font-size: 25px;
    margin: 50px 0 40px;
}

p {
  text-align: center;
  font-size: 20px;
  margin: 10px 0 40px;
}

.box {
  width: 1400px;
  height: 100px;
  margin: 50px auto;
  background: black;
}

.flex__item {
  display: flex;
  justify-content: center;
}

.practice__card {
  width: 30%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.card__img img {
  width: 100%;
}

.card__content {
  padding: 15px 25px;
}

.card__ttl {
  text-align: left;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 400;
}

.card__cat {
  padding: 5px 10px;
  background: #008888;
  margin-bottom: 15px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
}


.form {
  width: 60%;
  margin: 20px auto;
}

.form-item {
  padding: 24px 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.form-item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}

.form-item-label {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.form-item-label-required {
  border-radius: 6px;
  margin-right: 8px;
  padding: 8px 0;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 14px;
}

.form-item-input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding: 0 10px;
  height: 48px;
  width: 100%;
  font-size: 18px;
}

.form-item-textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding: 0 10px;
  height: 200px;
  width: 100%;
  font-size: 18px;
}

.form-btn {
  border-radius: 6px;
  margin: 32px auto 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  background: #5bc8ac;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
}